extends auth_layout

block content
    h2 Email verified
    
    p.
        Thank you for verifying your email address. When logging in the next time,
        this will be reflected in your user profile.

    h5.
        You may now close this window.
