extends auth_layout

block content
    h2 #{i18n.title}
    
    p #{i18n.success}

    p #{i18n.close_window}
    
    h5 #{i18n.remark}

    //- TODO: A link to the login page/to the calling application?
