extends auth_layout

block content
    h2 Email Verification Request sent
    
    p.
        We have sent an email with a request for email verification to the email address 
        you provided when registering. Please confirm your email address within an 
        hour (60 minutes).
    
    h5 You may now close this window.
