.swagger-section #header {
  background-color: #3371b7;
  padding: 18px;
}

.swagger-section #header #logo {
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  background: transparent url(/swagger-ui/wicked-40.png) no-repeat left center;
  padding: 20px 0 20px 60px;
  color: white;
}

.swagger-section #header .header-item {
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  padding: 20px 0 20px 30px;
  color: #eee;
}

.swagger-section .swagger-ui-wrap .markdown p code,
.swagger-section .swagger-ui-wrap .markdown li code,
.swagger-section .info_description code,
.swagger-section pre code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.swagger-section .swagger-ui-wrap {
  line-height: 1;
  font-family: sans-serif;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  /* JSONEditor specific styling */
}

.swagger-section pre .number,
.swagger-section pre .date,
.swagger-section pre .regexp,
.swagger-section pre .literal,
.swagger-section pre .smalltalk .symbol,
.swagger-section pre .smalltalk .char,
.swagger-section pre .go .constant,
.swagger-section pre .change,
.swagger-section pre .markdown .bullet,
.swagger-section pre .markdown .link_url {
  color: #00B7FF;
}

.swagger-section .swagger-ui-wrap a {
  color: #00B7FF;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

div.disqus {
    padding: 0 40px 0 40px
}