apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}-auth
  namespace: {{ default "default" .Values.namespace }}
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    {{- with .Values.deployments.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  selector:
    matchLabels:
      service: {{ template "fullname" . }}-auth
      wicked: "true"
  template:
    metadata:
      labels:
        service: {{ template "fullname" . }}-auth
        wicked: "true"
        {{- with .Values.deployments.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/path: '/metrics'
        prometheus.io/port:  '3010'
    spec:
{{- if .Values.useRbac }}
      serviceAccountName: {{ template "fullname" . }}-role
{{- end }}
      initContainers:
      - name: {{ template "fullname" . }}-auth-init
        image: "{{ .Values.image.repository }}k8s-tool:{{ default "latest" .Values.image.tag }}"
        imagePullPolicy: {{ default "Always" .Values.image.pullPolicy }}
        args:
        - "pod"
        - "-lservice={{ template "fullname" . }}-api"
      containers:
      - name: {{ template "fullname" . }}-auth
        image: "{{ .Values.image.repository }}auth:{{ default "latest" .Values.image.tag }}{{ if .Values.image.alpine }}-alpine{{ end }}"
        imagePullPolicy: {{ default "Always" .Values.image.pullPolicy }}
        env:
        - name: DEBUG
          valueFrom:
            configMapKeyRef:
              name: {{ template "fullname" . }}-apim-config
              key: DEBUG
        - name: LOG_LEVEL
          valueFrom:
            configMapKeyRef:
              name: {{ template "fullname" . }}-apim-config
              key: LOG_LEVEL
        - name: PORTAL_API_URL
          value: "http://{{ template "fullname" . }}-api.{{ default "default" .Values.namespace }}.svc.cluster.local:3001/"
        ports:
        - containerPort: 3010
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /ping
            port: 3010
          initialDelaySeconds: 5
          periodSeconds: 15
          timeoutSeconds: 2
        livenessProbe:
          httpGet:
            path: /ping
            port: 3010
          initialDelaySeconds: 5
          periodSeconds: 15
          timeoutSeconds: 2
        resources:
{{ toYaml .Values.resources.auth | indent 10 }}
      restartPolicy: Always
{{- if .Values.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.imagePullSecrets | indent 8 }}
{{- end -}}
{{- if .Values.tolerations }}
      tolerations:
{{ toYaml .Values.tolerations | indent 8 }}
{{- end }}
{{- if .Values.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
{{- end }}
{{- if .Values.affinity }}
      affinity:
{{ toYaml .Values.affinity | indent 8 }}
{{- end }}