extends layout

block vars
  - var thisPage = 'authentication'

block content
  .jumbotron(style='background: url("images/header-3-500.jpg"); background-size:cover;')
    .container(style='padding-top: 70px').feature-container
      h1 Authentication

      p Authentication Options of the API Portal
  .container
    p (insert content here)
    