extends layout

block vars
  - var thisPage = 'contact'

block scripts
  script(type="text/javascript").
    function validateForm() {

      var yourName = $('#yourname').val();
      if (yourName)
        yourName = yourName.trim();
      var yourEmail = $('#youremail').val();
      if (yourEmail)
        yourEmail = yourEmail.trim();

      if (!yourName) {
        alert("Please supply your name. Thanks!");
        return false;
      }

      if (!yourEmail) {
        alert("Please supply your email address. Thanks!");
        return false;
      }

      if (!/.+@.+/.test(yourEmail)) {
        alert("Please supply a valid email address. Thanks!");
        return false;
      }

      return true;
    }

block content

  .jumbotron(style='background: url("images/header-5-500.jpg"); background-size:cover;')
    .container(style='padding-top: 70px').feature-container
      h1 Contact Us!

      p Want to get in touch with us? Send us an email or file an issue on github.

  .white.pad20
    .container
      .row
        .col-md-8
          h2 Github Repositories
        .col-md-4
          | &nbsp;

      .row
        .col-md-8
          p.
            These are two most interesting Github repositories containing all the documentation for
            the API Portal:

          ul
            li <a href="https://github.com/Haufe-Lexware/wicked.haufe.io" target="_blank">Main Repository wicked.haufe.io</a>
            li <a href="https://github.com/Haufe-Lexware/wicked.deploy.sample" target="_blank">Sample Configuration Repository</a>

        .col-md-4
          a(href='https://github.com/Haufe-Lexware/wicked.deploy.sample' target='_blank')
            img(src='https://assets-cdn.github.com/images/modules/logos_page/Octocat.png' style='width:250px;').center-block

  .grey.pad20
    .container
      .row
        .col-md-3
          | &nbsp;
        .col-md-6
          h2 Write us an Email!
        .col-md-3
          | &nbsp;
      .row
        .col-md-3
          | &nbsp;
        .col-md-6
          form(role="form" method="post" action="https://formspree.io/martin.danielsson@haufe-lexware.com" onsubmit="return validateForm();")
            input(type="hidden" name="_subject" value="wicked.haufe.io - Inquiry")
            input(type="hidden" name="_next" value="http://wicked.haufe.io/thanks.html")
            input(type="text" name="_gotcha" style="display:none")
            .form-group
              label Your Name:
              input(type="text" id="yourname" name="name").form-control
            .form-group
              label Your Email Address:
              input(type="email" id="youremail" name="_replyto").form-control
            .form-group
              label Your Message to us:
              textarea(name="message" style="height:250px;").form-control Hello Haufe-Lexware,...
            button(type="submit").btn.btn-success Send Email
        .col-md-3
          | &nbsp;
