extends layout

block vars
  - var thisPage = 'deployment'

block content
  .jumbotron(style='background: url("images/header-2-500.jpg"); background-size:cover;')
    .container(style='padding-top: 70px').feature-container
      h1 Deployment

      p Deployment Architecture of the wicked API Portal
  .container
    p (insert content here)
    