extends layout

block content
  .jumbotron
    .container(style='padding-top:70px').marketing
      h1 Woo woo woo
    
  .container.marketing
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | APIops from the ground up! 
          span.text-muted Developing and Deploying APIs the way it should be.
        p.lead
          | Most API Management solutions focus on a single deployment, where you usually are told to poke around at the live configuration. Do you really want to do that? Without a deployment pipeline? No? Thought so. Gelatine helps you in automating.
      .col-md-5
        img.featurette-image.img-responsive.center-block(src='images/gelatine-red-500.jpg', alt='Red Gummybear')
    hr.featurette-divider
    
    .container
      // FOOTER
      footer
      p.pull-right
        a(href='#') Back to top
      p
        | © 2016 Haufe-Lexware GmbH & Co. KG, 
        a(href='http://www.haufe-lexware.com') www.haufe-lexware.com
        | , 
        a(href='http://www.haufe.de') www.haufe.de
        | , 
        a(href='http://www.lexware.de') www.lexware.de
        | , 
        a(href='http://www.haufe-akademie.de') www.haufe-akademie.de
