extends layout

block vars
  - var thisPage = 'features'

mixin feature(featureObject, index)
  - var thisClass = (index % 2) == 0 ? "grey" : "white"
  div(class="col-md-4 feature-block #{thisClass}")
    if featureObject.title
      h5.feature= featureObject.title
      p.feature!= featureObject.text
    else if featureObject.gummybear 
      //img(src="images/wicked-#{featureObject.color}-100.png").center-block
      img(src="images/logo-140.png" style="height:120px; padding-top:20px;").center-block
    else if featureObject.kong
      a(href="https://getkong.org" target="_blank")
        img(src="https://getkong.org/assets/images/companies/mashape-marketplace.png" style="padding-top:30px").center-block


block content

  -
    var featureList = [
      { title: "Leverage Kong as API Gateway", 
        text: "Use Mashape Kong to protect and proxy your backend APIs, securing them via API Keys or OAuth 2.0 Client Credentials flow." },
      { title: "Implement Rate Limiting",
        text: "Using Mashape Kong's rich functionality, implement rate limiting for your APIs, wherever needed." },
      { title: "Full support of Kong's Plugins",
        text: "Whatever Mashape Kong can do, you may configure it using the wicked Kickstarter application." },
      { title: "Authenticate with email and password", 
        text: "Let your users sign up with their email address and a password. Email addresses will be automatically validated by sending out verification emails." },
      { title: "Authenticate with ADFS and generic OAuth 2.0",
        text: "Integrate the login process with your own ADFS 3.0 or generic OAuth2 identity provider." },
      { title: "Authentication with common Identity Proviers",
        text: "You may also configure authenticating both for the Portal and for your APIs via SAML, GitHub, Google or Twitter out of the box." },
      { title: "Group based rights to APIs",
        text: "Define custom user groups and assign those groups to users in order to limit access to specific APIs to specific groups. The Admin group can also be assigned." },
      { title: "Group based rights to custom content",
        text: "The content section also supports group based access, e.g. to How-tos or tutorials." },
      { gummybear: true, color: "blue" },
      { title: "Automatic group assignment",
        text: "Users with a verified email address can be automatically assigned a user group, and ADFS groups may be mapped automatically to wicked user groups." },
      { title: "Subscription Plans",
        text: "API definitions can be associated with subscription plans, which can carry additional settings, e.g. different rate limits for different users." },
      { title: "Application Concept",
        text: "In order to subscribe to an API, a user needs to create an application (which is the client of the API); APIs are coupled with applications, not users." },
      { title: "Application Owner Roles",
        text: "Applications can be shared among users, using different roles on the application: Admin/Owner, Collaborator and Reader." },
      { title: "Hand over Applications",
        text: "By assigning Owner rights to an application to a different user, applications can be handed over to different developers/users without recreating them." },
      { title: "Easy API Gateway configuration",
        text: "wicked makes it easier to configure the API Gateway correctly. The Kickstarter helps configuring e.g. Rate Limiting or CORS." },
      { title: "Simple local development deployments",
        text: "Using the wicked command line interface, trying out configuration changes or running the portal for development purposes is super simple." },
      { title: "API Key API Authentication",
        text: "Out of the box, wicked enables fast securing of your API using API Key authentication" },
      { title: "Full OAuth 2.0 Support",
        text: "Wicked comes with a default Authorization Server which supports federating any authentication method to OAuth 2.0"},
      { gummybear: true, color: "green" },
      { title: "Swagger UI integration",
        text: "In order to view the APIs in more detail, wicked has integrated Swagger UI, with configurable direct access to the backend services." },
      { title: "Subscription Approval Workflow",
        text: "API Plans can be configured to require approval of subscription; you will be sent an email to a predefined email address to the approval request." },
      { title: "Chatbot Integration",
        text: "wicked can post interesting events (you decide which are interesting) to either a Rocket.Chat or a Slack Chat instance. Just register a Hook URL with Slack, and configure it for wicked." },
      { title: "Docker Deployment",
        text: "The entire APIm solution is deployed using docker; everything runs in docker, enabling deployments to whatever infrastructure supports it." },
      { title: "Scaling of deployment",
        text: "By leveraging the functionality of your chosen container orchestrator, the user-facing components of wicked (Portal, API, Authorization Server can be deployed highly available" },
      { title: "Battle-proven API Gateway",
        text: "Behind the scenes, wicked uses battle-proven, enterprise grade API Gateway <a href='http://getkong.org' target='_blank'>KONG by Mashape</a>. Open Source does not get much better than that." },
      { title: "Kubernetes Deployment",
        text: "wicked runs very well on the docker orchestration tool Kubernetes; the documentation contains recipes and best practices on running in Kubernetes, using Helm Charts"},
      { title: "Integrated User to Application Grant Management",
        text: "The wicked Authorization Server keeps track user scope grants to applications automatically. It also provides a way to review granted access." },
      { title: "Customizable styles for Portal and Authorization Server",
        text: "The styling, colors and images can be customized to reflect your own corporate image." },
      { title: "Postgres storage backend",
        text: "Wicked and Kong store all runtime configuration (applications, users) in the best open source database available, Postgres." },
      { title: "Pluggable databases for production environments",
        text: "For production environments, configure wicked to use an existing Postgres instance. You can also use an external redis instance (or the shipped one) for session handling and rate limiting." }
    ]
    
  //       { title: "Feature Template",
  //         text: "Copy this" },

  .jumbotron(style='background: url("images/header-4-500.jpg"); background-size:cover;')
    .container(style='padding-top:70px').feature-container
      h1 Features
    
      p These are some of the things wicked.haufe.io could do for you.
    
  .container
      .row
        .col-md-12
          img(src="images/feature-header-300.jpg" style="height:200px;").center-block

      br
        
      each feat, i in featureList
        if (i % 3 == 0)
          .row
            +feature(feat, i)
            if ((i+1) < featureList.length)
              +feature(featureList[i+1], i+1)
            if ((i+2) < featureList.length)
              +feature(featureList[i+2], i+2)

      br
      br
      .row
        .col-md-12
          table(width='100%')
            tr
              td(style='text-align:center')
                | For full documentation, head over to the <a href='https://github.com/Haufe-Lexware/wicked.haufe.io' target='_blank'>GitHub repository of wicked.haufe.io</a>.