extends layout

mixin feature(featureObject, index)
  - var thisClass = (index % 2) == 0 ? "grey" : "white"
  div(class="col-md-4 feature-block #{thisClass}")
    if !featureObject.gummybear
      h5.feature= featureObject.title
      p.feature!= featureObject.text
    else
      br
      img(src="images/gelatine-#{featureObject.color}-100.png").center-block

block content

  -
    var featureList = [
      { title: "Authenticate with email and password", 
        text: "fdfdfd" },
      { title: "Authenticate with ADFS",
        text: "Djskldjlksdjlsd" },
      { gummybear: true, color: "blue" },
      { title: "Authentication with GitHub or Google",
        text: "fdksfjlkdf" },
      { title: "Group based rights to APIs",
        text: "" },
      { title: "Group based rights to custom content",
        text: "" },
      { title: "Automatic group assignment",
        text: "" },
      { gummybear: true, color: "red" },
      { title: "Application Concept",
        text: "Share applications among users" },
      { title: "Application Owner Roles",
        text: "" },
      { title: "Hand over Applications",
        text: "" },
      { title: "Easy API Gateway configuration",
        text: "" },
      { gummybear: true, color: "green" },
      { title: "API Key or OAuth 2",
        text: "" },
      { title: "Swagger UI integration",
        text: "" },
      { title: "Docker Deployment",
        text: "One-line deployments using <code>docker-compose</code>" },
      { title: "More awesome features",
        text: "SDjslkdjsd" },
      { title: "Jaw-dropping somethings",
        text: "fDKLfjdlfdl f" },
      { title: "Feature Template",
        text: "Copy this" },
    ]
    
  .jumbotron
    .container(style='padding-top:70px').marketing
      h1 Feature List
    
      p Read some of the things gelatine.haufe.io could do for you!
    
  .container
      each feat, i in featureList
        if (i % 3 == 0)
          .row
            +feature(feat, i)
            if ((i+1) < featureList.length)
              +feature(featureList[i+1], i+1)
            if ((i+2) < featureList.length)
              +feature(featureList[i+2], i+2)
