extends layout

block vars
  - var thisPage = 'gettingstarted'

block content

  .jumbotron(style='background: url("images/header-3-500.jpg"); background-size:cover;')
    .container(style='padding-top: 70px').feature-container
      h1 Getting Started

      p Try out the API Portal in the following simple steps.
  .container

    br

    h2 Introduction

    .row
      .col-md-8
        br
        br

        p.
          This page contains the instructions to run a demo portal on a your local docker host.
        p.
          This introduction to the API Portal we provide will guide you to run an API Portal
          like the one we keep for demo purposes at 
          <a href='https://wicked-demo.haufe.io' target='_blank'>wicked-demo.haufe.io</a>.
        p.
          The wicked API Portal is designed to run within <a href='http://docker.io' target='_blank'><code>docker</code></a>.

        p.
          The following steps assume that you are familiar in using the command line, and that you
          have a working <a href="https://nodejs.org"><code>node.js</code> installation</a>, and a working
          <a href="https://docker.io">Docker installation</a>. The guide works on macOS, Windows and on Linux.
        p &nbsp;

      .col-md-4
        a(href='https://docker.com' target='_blank')
          img(src='images/moby_large.png' width='250').center-block


  .grey
    .container.pad20
      .row
        .col-md-4
          | &nbsp;
        .col-md-8
          h2 Step 1: Prerequisites (Docker, node.js)
          
      .row
        .col-md-4
          a(href='https://www.docker.com/products/docker-compose' target='_blank')
            img(src='https://raw.githubusercontent.com/docker/compose/master/logo.png' style='width:200px;').center-block

        .col-md-8
          p.
            The only prerequisites for this getting started guide is that you have access to a the docker command
            line, a Docker host and a node.js installation. If you haven't already installed Docker, go ahead and
            <a href='https://docker.com' target='_blank'>do that first</a>.
            It will work on Windows, macOS and Linux machines, best using Docker CE 18.09 or later.

          p.
            Installation node.js guidelines can be found at <a href="https://nodejs.org" target="_blank">nodejs.org</a>.
            The node.js installation is only used for the wicked command line in this guide, and (almost) any version will work.

          a(href='https://docker.com' target='_blank').btn.btn-primary.btn-lg Get Docker &raquo;
          | &nbsp;&nbsp;
          a(href='https://nodejs.org' target='_blank').btn.btn-primary.btn-lg Get node.js &raquo;

          br
          br

  .white.pad20
    .container    
      h2 Step 2: Install the wicked command line

      .row
        .col-md-8
          p.
            The easiest way to get started with wicked.haufe.io is using the command line, which was introduced
            for version 1.0.0-rc.1.

          pre.
            $ npm install -g wicked-cli

          p.
            Make sure that Docker is allowed to mount local directories into running containers. This is done in the
            Docker for Mac/Windows "Shares" configuration. On macOS, this should be straightforward, on Windows
            you may encounter some issues with Work/School accounts
            (<a href="https://blogs.msdn.microsoft.com/stevelasker/2016/06/14/configuring-docker-for-windows-volumes/" target="_blank">see this link for a possible help</a>).

          p.
            Now retrieve the list of versions of wicked:
          pre.
            $ wicked tags list
          
          p.
            Select the latest version and set it for use with the command line:
          pre.
            $ wicked tags set &lt;tag&gt;

          p &nbsp;
        .col-md-4
          a(href='https://github.com/Haufe-Lexware/wicked.haufe.io/blob/master/doc/wicked-in-a-box.md' target='_blank')
            img(src='https://github.githubassets.com/images/modules/logos_page/Octocat.png' style='width:250px;').center-block
       
  .grey.pad20
    .container
      .row
        .col-md-4
          p &nbsp;
        .col-md-8
          h2 Step 3: Create a default configuration

      .row
        .col-md-4
          p &nbsp;
        .col-md-8
          p.
            Now it's time to create a default configuration repository for wicked. Using the terminal/command line,
            create an empty directory. This directory has to be mountable into docker.

          p.
            <b>Windows:</b>
          pre.
            C:\TEMP> md wicked
            C:\TEMP> cd wicked
            C:\TEMP> wicked kickstart --new .

          p.
            <b>macOS/Linux:</b>
          pre.
            $ mkdir wicked
            $ cd wicked
            $ wicked kickstart --new .

          p.
            You can immediately close the "wicked Kickstarter" again by pressing <code>Ctrl-C</code>. It will have
            created a configuration repository in the current <code>.</code> directory.

          p &nbsp;

  .white.pad20
    .container
      .row
        .col-md-8
          h2 Step 4: Start up Postgres and Wicked
          p.
            We are now set to deploy wicked locally using the command line. To work correctly, wicked (and Kong) need
            a Postgres instance to persist its data to. The wicked command line can help running one on your local machine:
          pre.
            $ wicked postgres start
          
          p.
            Once Postgres is up and running, we can also start the API Portal:

          pre.
            $ wicked box start .

          p.
            The command will now pull the wicked image and start the API Portal with the configuration in the current directory
            (this is what the <code>.</code> argument means). Allow around 5-15 seconds, depending on your machine, for the
            API Portal to start at <a href="http://localhost:3000" target="_blank">http://localhost:3000</a>.

          p &nbsp;

  .grey.pad20
    .container
      .row
        .col-md-4
          | &nbsp;
        .col-md-8
          h2 Step 5: Log in

      .row
        .col-md-4
          img(src='images/logo-s-500.png' style='height:350px').center-block
        .col-md-8
          p.
            Navigate to your API Portal at <a href='http://localhost:3000' target='_blank'><code>http://localhost:3000</code></a>
            and start playing around. The default configuration has a preconfigured admin user with the following credentials:
          ul
            li <strong>User email:</strong> <code>admin@foo.com</code>
            li <strong>Password:</strong> <code>wicked</code>

          p &nbsp;

          .panel.panel-default
            .panel-heading
              | Screenshot
            .panel-body(style='text-align:center')
              img(src='images/screenshot-640.png').img-responsive

          p.
            Read more in the <a href="https://github.com/Haufe-Lexware/wicked.haufe.io" target="_blank">documentation</a>, e.g.
            on how to <a href="https://github.com/Haufe-Lexware/wicked.haufe.io/blob/master/doc/using-the-sample-portal.md">use
            the sample portal</a>.
          
          p.
            To stop the local API Portal, issue the following commands:
          pre.
            $ wicked box stop
            $ wicked postgres stop
