extends layout

block vars
  - var thisPage = 'impressum'

block content
  .jumbotron(style='background: url("images/header-4-500.jpg"); background-size:cover;')
    .container(style='padding-top: 70px').feature-container
      h1 Impressum

  .container
    p.
      Martin Danielsson (verantwortlich i.S.d. § 55 Abs. 2 RStV)

    h4 Anschrift:
    | Haufe-Lexware GmbH &amp; Co. KG
    br
    | Ein Unternehmen der Haufe Gruppe
    br
    | Munzinger Straße 9 
    br
    | 79111 Freiburg

    p &nbsp;
    p.
      Telefon: 0761 898-0 Telefax: 0761 898-3990
    p.
      Kommanditgesellschaft, Sitz Freiburg<br>Registergericht Freiburg, HRA 4408
    p.
      <b>Komplementäre</b>: Haufe-Lexware Verwaltungs GmbH, Sitz Freiburg, Registergericht Freiburg, HRB 5557; Martin Laqua
    p.
      <b>Geschäftsführung der Komplementär-GmbH</b>: Iris Bode, Jörg Frey, Matthias Schätzle, Christian Steiger, Dr. Carsten Thies
    p.
      <b>Beiratsvorsitzende</b>: Andrea Haufe
    p.
      Steuernummer: 06392/11008
    p.
      Umsatzsteuer-Identifikationsnummer: DE 812398835
    p &nbsp;

    h4.
      Public Relations:

    | Haufe-Lexware GmbH &amp; Co. KG
    br
    | Public Relations
    br
    | Munzinger Straße 9
    br
    | 79111 Freiburg

    p &nbsp;
    p.
      Telefon: 0761 898 3940 Telefax: 0761 898 3900 E-Mail: presse(at)haufe-lexware.com
    p &nbsp;

    h4.
      Bitte wenden Sie sich bei Fragen an:

    | Haufe Service Center GmbH
    br
    | Munzinger Straße 9
    br
    | 79111 Freiburg

    p.
      Telefon: 0800 50 50 445 (kostenlos) Telefax: 0800 50 50 446 E-Mail: service(@)haufe-lexware.com

    p &nbsp;

    p.
      Alle Rechte, auch die des auszugsweisen Nachdrucks, der fotomechanischen Wiedergabe (einschließlich Mikrokopie) sowie der Auswertung durch Datenbanken, auch der Einspeisung, Verarbeitung in elektronischen Systemen vorbehalten, gleiches gilt auch für Multimedia-Daten (Ton, Bilder, Programme etc.). Alle Angaben / Daten nach bestem Wissen, jedoch ohne Gewähr für Vollständigkeit und Richtigkeit. Die Verwendung Ihrer Adressdaten und die Verarbeitung bei neutralen Dienstleistern erfolgt unter strikter Beachtung des Datenschutzgesetzes durch die Haufe-Lexware GmbH & Co. KG und die angeschlossenen und befreundeten Unternehmen ausschließlich zu diesem Zweck.