doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='wicked.haufe.io')
    meta(name='author', content='donmartin76')
    title wicked.haufe.io - Open Source API Portal
    // Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    link(href='css/ie10-viewport-bug-workaround.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
      script(src='../../assets/js/ie8-responsive-file-warning.js')
    // <script src="js/ie-emulation-modes-warning.js"></script>
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    // Custom styles for this template
    link(href='css/carousel.css', rel='stylesheet')
  //
    NAVBAR
    ==================================================
  body
    block vars

    .navbar-wrapper
      .container
        nav.navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='https://github.com/Haufe-Lexware/wicked.haufe.io') wicked.haufe.io
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-nav
                if (thisPage == 'index')
                  li.active
                    a(href='index.html') Home
                else
                  li
                    a(href='index.html') Home
                if (thisPage == 'features')
                  li.active
                    a(href='features.html') Features
                else
                  li
                    a(href='features.html') Features
                if (thisPage == 'gettingstarted')
                  li.active
                    a(href='gettingstarted.html') Getting Started
                else
                  li
                    a(href='gettingstarted.html') Getting Started
                if (thisPage == 'deployment')
                  li.active
                    a(href='deployment.html') Deployment
                else
                  li
                    a(href='deployment.html') Deployment
                if (thisPage == 'authentication')
                  li.active
                    a(href='authentication.html') Authentication
                else
                  li
                    a(href='authentication.html') Authentication
                li
                  a(href='http://dev.haufe.com' target='_blank') Contact
                //
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                  </ul>
                  </li>
    block content


    .container
      hr
      // FOOTER
      footer
      p.pull-right
        a(href='#') Back to top
      p
        | © 2016 Haufe-Lexware GmbH & Co. KG, 
        a(href='http://www.haufe-lexware.com') www.haufe-lexware.com
        | , 
        a(href='http://www.haufe.de') www.haufe.de
        | , 
        a(href='http://www.lexware.de') www.lexware.de
        | , 
        a(href='http://www.haufe-akademie.de') www.haufe-akademie.de
        
    // /.container
    //
        Bootstrap core JavaScript
        ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
    script(src='js/bootstrap.min.js')
    // Just to make our placeholder images work. Don't actually copy the next line!
    script(src='js/holder.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='js/ie10-viewport-bug-workaround.js')

