extends layout

block content

  .jumbotron(style='background: url("images/header-5-500.jpg"); background-size:cover;')
    .container(style='padding-top: 70px').feature-container
      h1 Thanks!

      p We have received your email and will contact you shortly.

  .container

    a(href="index.html")
      img(src="images/logo-500.png").center-block
