Hello {{ user.name }},

You have requested to reset your user password.

The following link, which is active for 60 minutes (one hour) will let you do so:

{{{ verificationLink }}}

After changing your password, you may re-login to the {{ title }}.

Best regards,
The API Portal Team

Remark: This email was sent to you upon your explicit request. If you did not request to reset your password, please ignore this email. Consider changing your password.
