doctype html
html
  head
    title Restarting...

body
  p.
    The wicked components are restarting. This may take up to a minute to take effect.

  p.
    Until the components have restarted, gateway errors, such as 503 or 504, can occur.

  p
    a(href='/') Go to the API Portal home page
