extends layout
block bodyScripts
    script(type='text/javascript').
        function deleteVerification(item) {
          if (confirm('Really delete verification?')) {
            $.post('/admin/verifications/' + item.id, {}, function (data, status) {
              if (data.success) {
                $('#verificationsGrid').jsGrid("deleteItem", item);
              } else {
                alert('Deleting verification failed: ' + data.message);
              }
            });
          }
        }

        $(document).ready(function(){
           $('#verificationsGrid').jsGrid({
             width: "100%", pageSize: 10, sorting: true, paging: true, filtering: true, autoload: true,
             controller: {
              loadData: function (filter) {
                  var d = $.Deferred();
                  var data = !{verifications};
                  if (isEmptyGridFilter(filter)) {
                    d.resolve(data);
                    return d.promise();
                  }
                  data = $.grep(data, function (item) {
                    if (applyGridFilter(filter, item))
                       return item;
                  });
                  d.resolve(data);
                  return d.promise();
              }
            },
            confirmDeleting: false,
            fields: [
                 { name: "id", type: "text", title: "ID",
                   itemTemplate: function(value, item) {
                     return $("<a>").attr("href", item.link)
                                    .attr("target", "_blank")
                                    .text(value);
                    }
                 },
                 { name: "type", type: "text", title: "Type", width: "3%"},
                 { name: "email", type: "text", title: "Email", width: "10%"},
                 { name: "userId", type: "text", title: "User ID",
                   itemTemplate: function(value, item) {
                     return $("<a>").attr("href", "/users/"+item.userId)
                                    .text(value);
                    }
                 },
                 { name: "utc", type: "text", title: "Timestamp",  width: "6%",
                   itemTemplate: function(value, item) {
                     return new Date(value * 1000).toLocaleString();
                    }
                 },
            
                 { type: "actions",  type: "control", width: "3%",
                         _createFilterSwitchButton: function() {
                          return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                         },
                        itemTemplate: function(value,item) {
                          var $deleteBtn = $("<button>").attr("type", "submit")
                                                         .attr("class", "btn btn-sm btn-danger")
                                                         .text("Delete")
                                                         .on("click", function () {
                                                           deleteVerification(item);
                                                         });
                          return $("<td nowrap>").append($deleteBtn);
                       }
                 }
             ]
           });
           $("#verificationsGrid").jsGrid("option", "filtering", false);
        });

block content
    .jumbotron.wicked-admin-title
        .container.wicked-title-container
            h1= title
            
            p Pending email verifications and lost passwords
    
    .container.wicked-container
        br
        div#verificationsGrid