extends layout

block content
  - var tocPointers = [];
  .jumbotron.wicked-content-title
    .container.wicked-title-container
        h1= title
        if subTitle
            != subTitle

  .container.wicked-container

    if !authUser
      h4 You are not logged in.

      p.
        Your are currently not logged in. Some pages and APIs may be restricted to logged in users.

      a(href='/login?redirect=/content/toc').btn.btn-primary.btn-lg Log in &raquo;

      br
    br
    br

    if (toc)
      each cat, name in toc
        .panel.panel-default
          .panel-heading
            h4.panel-title= cat.name
          .panel-body
            ul
              each entry in cat.entries
                li
                  a(href=entry.url)= entry.title
