extends layout

block content

  .jumbotron.wicked-error-title
    .container.wicked-title-container
      h1 Insufficient Rights  

      h2 Status Code: #{error.status}

      p= message
      
      a(class='btn btn-lg btn-warning' onclick='window.history.back();') Go back &raquo
  
  .container.wicked-container

    img(src='/images/wicked-256.png').center-block

    br
    br

    h4.
      Access to this page has been restricted by the API Portal Administrators.

    if !authUser
      p.
        You are currently not logged in; please log in and retry accessing this page again.

      a(href='/login').btn.btn-lg.btn-primary Log in &raquo;
    else
      p.
        If you have a feeling this is not correct, please contact the <a href='/content/contact'>API Portal Administrator</a> to have additional rights assigned to your Portal User.

    br
    br
    br

    p.
      Correlation ID: <code>#{correlationId}</code>
        
    if error.stack
      pre #{error.stack}
