#!/bin/bash

export TENANTID="(your azure tentant id)"
export SUBSCRIPTION_ID="(your subscription id)"

# https://docs.microsoft.com/en-us/azure/container-service/container-service-kubernetes-service-principal#create-a-service-principal-in-azure-active-directory
# az ad sp create-for-rbac --role="Owner" --scopes="/subscriptions/$SUBSCRIPTION_ID"

export SP_APPID="(service principal app id)"
export SP_PASSWORD="(service principal password)"

if [ -z "$RESOURCE_GROUP" ]; then
    export RESOURCE_GROUP=wicked$(date +%Y%m%d%H%M%S)
else
    echo "Reusing Resource group, if not wanted, run"
    echo "unset RESOURCE_GROUP"
fi
echo "Resource group: ${RESOURCE_GROUP}"

export DNS_ZONE="(an azure dns zone you control, accessible by the service principal)"
export DNS_RESOURCE_GROUP="(the resource group of the dns zone)"
export LEGO_EMAIL="(a valid email address to use with kube-lego)"

export WICKED_TAG=next # or, use a specific version, such as 0.12.5
