body {
  margin: 0px;
}

#header {
  background-color: #3371b7;
  padding: 18px;
}

#header #logo {
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  background: transparent url({{{ portalUrl }}}/content/images/wicked-40.png) no-repeat left center;
  padding: 20px 0 20px 45px;
  color: white;
}

#header .header-item {
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  padding: 15px 15px 15px 15px;
  color: #eee;
}

#header a.header-item:hover {
  color: #fff;
}

.swagger-ui-wrap {
  line-height: 1;
  font-family: sans-serif;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
