/* You can change all the settings in CSS you need and want here. */
body {
  padding-top: 40px;
}

body.wicked-auth {
  background-color: #eeeeee;
}

a {
  color: #00B7FF;
}

.navbar-default {
  background-color: #3371b7;
  border-color: #2c6ca3;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #2c6ca3;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #2c6ca3;
}
.navbar-default .navbar-toggle {
  border-color: #2c6ca3;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2c6ca3;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #2c6ca3;
  }
}

/* Generic styles for the title container (within jumbotrons, see styles below) */
.wicked-title-container {

}

/* Generic style for the generic container used on the pages, for all pages. */
/* Handle with care, can mess things up. */
.wicked-container {

}

/* Settings for the front/index page */
.wicked-index-title {
    background-color: #C8DBEF;
    color: #333333;
}

/* /signup page settings */
.wicked-signup-title {
    background-color: #C8DBEF;
    color: #333333;
}

/* /login page settings */
.wicked-login-title {
    background-color: #ffffff;
    color: #333333;
}

/* /apis, /apis/:apiId settings */
.wicked-api-title {
    background-color: #C8DBEF;
    color: #333333;
}

.wicked-api-body {
    background-color: #eff5fb
}

/* /applications, /applications/:appId settings */
.wicked-application-title {
    background-color: #C8DBEF;
    color: #333333;  
}

/* /content settings */
.wicked-content-title {
    background-color: #C8DBEF;
    color: #333333;
}

/* /users/:userId settings */
.wicked-user-title {
    background-color: #C8DBEF;
    color: #333333;
}

/* Use black background to show you're in the Admin section; also used for changing users, though. */
/* All things /admin */
.wicked-admin-title {
    background-color: #3371b7;
    color: #ffffff;
}

.btn-github {
    color: #333;
    background-color: #f2f2f2;
    border-color: #ccc
}

.btn-github.focus, .btn-github:focus {
    color: #333;
    background-color: #d9d9d9;
    border-color: #8c8c8c
}

.btn-github.active, .btn-github:active, .btn-github:hover, .open > .dropdown-toggle.btn-github {
    color: #333;
    background-color: #d9d9d9;
    border-color: #adadad
}

.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: #bb3f30
}

.btn-google.focus, .btn-google:focus {
    color: #fff;
    background-color: #c23321;
    border-color: #561d16
}

.btn-google.active, .btn-google:active, .btn-google:hover, .open > .dropdown-toggle.btn-google {
    color: #fff;
    background-color: #c23321;
    border-color: #8a2f23
}

.btn-oauth2 {
    color: #333;
    background-color: #f2f2f2;
    border-color: #ccc
}

.btn-oauth2.focus, .btn-oauth2:focus {
    color: #333;
    background-color: #d9d9d9;
    border-color: #8c8c8c
}

.btn-oauth2.active, .btn-oauth2:active, .btn-oauth2:hover, .open > .dropdown-toggle.btn-oauth2 {
    color: #333;
    background-color: #d9d9d9;
    border-color: #adadad
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.feature-container > h1 {
  text-align: center;
  color: #000;
}

.feature-container > p {
  font-size: 18pt;
  text-align: center;
  color: #000;
}

.pad80 {
  padding-top:80px;
}